.user-form {
    padding: 50px 60px 50px 60px;
}

.delete-account {
    padding: 50px 60px 50px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}