.login-btn {
    margin-bottom: 1em;
    margin-top: 1em;
    display: block;
}

.form-note {
    font-size: 0.9em;
}

.modal-container {
    position: relative;
    height: 0 !important;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

#contained-modal-title {
    color: black;
}

.modal-body {
    color: black;
}

.modal-form {
    width: 90%;
    margin: auto;
}

.modal-btn {
    color: #23527c;
}

.form-wrapper {
    box-sizing: border-box;
}

.agree-text {
    color: #23527c;
}