@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sign-in-up {
    background-color: rgba(223, 171, 169, 0.64);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 2em;
    padding-top: 2em;
    box-sizing: border-box;
    border-radius: 1em;
    color: black;
}

.sign-container {
    position: relative;
}

.navbar-brand > img {
    display: inline-block;
    height: 100%;
    width: auto;
    z-index: 1000;
}

body {
    background-image: url("../images/signinuppagebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.app-container {
    color: floralwhite;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
}

.app-container-private {
    background: floralwhite;
    min-height: 100vh;
    color: black;
}

.button-product-list {
    margin-left: 1em;
}

.thumbnail > img, .thumbnail a > img {
    height: 200px;
    max-width: 100%;
    margin: auto;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0 !important;
}

.list-group,
.thumbnail {
    margin-top: 2em;
}

.thumbnail-2 {
    margin: 1em 1.5em 0.5em;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
    height: 12em;
    width: 12em;
}

.thumbnail-2 p {
    font-size: 0.9em;
}

.thumbnail-2 img {
    max-width: 100%;
    height: 100px;
}

.thumbnail-2 button {
    font-size: 0.9em;
    margin-left: 0;
}

.more-info-title {
    margin-top: 4em;
}

.page-num {
    list-style: none;
    display: flex;
}

.page-num > li {
    user-select: none;
    cursor: pointer;
    margin-right: 0.5em;
}

/*CSS below from react-spinner library:*/
.react-spinner {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
}

.react-spinner_bar {
    -webkit-animation: react-spinner_spin 1.2s linear infinite;
    -moz-animation: react-spinner_spin 1.2s linear infinite;
    animation: react-spinner_spin 1.2s linear infinite;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    width: 40%;
    height: 20%;
    top: -3.9%;
    left: -10%;
}

@keyframes react-spinner_spin {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.15;
    }
}

@-moz-keyframes react-spinner_spin {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.15;
    }
}

@-webkit-keyframes react-spinner_spin {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.15;
    }
}

/*End of CSS from react-spinner library:*/